{% extends 'main/base.html' %}

{% load static %}

{% block title %}GeneTech-Home{% endblock %}

{% block main_content %}
  <div id="home">
    <header>
      <div class="profile-image-container position-absolute">
        <img src="{% static 'main/assets/profile_pic.jpg' %}" alt="Profile Picture" class="profile-pic" id="profile-pic">
      </div>
      <div class="header-content">

        <div class="download-resume-container desktop">
          <div class="position-absolute" id="dl-resume-container">
            Get My Resume
          </div>
        </div>

        <div class="name-container">
          <div class="name" id="name-content">
            
            <div class="full-name">
              Eugene M. Reyes
            </div>
            <!-- <div class="first-name">
              Eugene
            </div>
            <div class="last-name">
              Reyes
            </div> -->
            <div class="title">
              Software Developer | Full Stack Web Developer
            </div>
          </div>
        </div>

        <div class="social-media-links-container">
          <div class="links-container">
            <a href="{{ social_media_links.fb_link }}" target="_blank" id="fb_link" class="social fa-brands fa-facebook"></a>
            <a href="{{ social_media_links.ig_link }}" target="_blank" id="ig_link" class="social fa-brands fa-instagram"></a>
            <a href="{{ social_media_links.linkedin_link }}" target="_blank" id="linkedin_link" class="social fa-brands fa-linkedin"></a>
            <a href="{{ social_media_links.github_link }}" target="_blank" id="github_link" class="social fa-brands fa-github"></a>
          </div>

          <div class="download-resume-container mobile">
            <div id="dl-resume-container">
              Get My Resume
            </div>
          </div>
          
        </div>
      </div>
    </header>

  <nav class="navigation-below-header">
      <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#skills">Skills</a></li>
          <li><a href="#experience">Experience</a></li>
          <!-- <li><a href="#portfolio">Portfolio</a></li> -->
          <!-- <li><a href="#testimonials">Testimonials</a></li> -->
          <li><a href="#education">Education</a></li>
          <li><a href="#contact">Contact</a></li>
      </ul>
  </nav>

  <main>
      <section id="about">
       
        <h1>About Me</h1>
        
        <div class="about-content-container">
          <p>
            I am Eugene M. Reyes, a dedicated software developer with a passion for creating innovative and practical solutions. My expertise spans coding, debugging, and integrating cutting-edge technologies, ensuring timely and complete delivery of product requirements.
          </p>
          
          <p>
            Specializing in web design and development, I transform product requirements into practical solutions through full-stack development. Leveraging frameworks like Django, WordPress, and Vue.js, and utilizing tools such as Git, I excel in programming languages like PHP, JavaScript, and Python.
          </p>
          
          <p>
            As a lifelong learner, I am always seeking to expand my knowledge and skill set. I stay updated with the latest market trends and technological advancements to continually enhance my expertise in technology and business.
          </p>
        </div>

      </section>

      <hr>

      <section id="skills">
        <h1>Skills</h1>

        <div class="carousel-container">
          
          <div class="carousel">
            <div class="carousel-item">
              
              <h2>JavaScript</h2>
              
              <div class="description-container">
                Proficient in JavaScript for developing dynamic and interactive web pages, with expertise in the Vue.js framework, leveraging its powerful built-in solutions for component management, state handling, and routing. Additionally, skilled in utilizing the jQuery library to write complex, yet highly readable code, and adept at using the Axios library to efficiently manage HTTP requests and streamline data communication.
              </div>

              <div class="images-container">
                <div class="tech-item">
                  <img src="{% static 'main/assets/js_icon.png' %}" alt="Js Icon" class="tech-item-image">
                </div>
                <div class="tech-item">
                  <img src="{% static 'main/assets/vuejs_icon.jpg' %}" alt="VueJs Icon" class="tech-item-image">
                </div>
                <div class="tech-item">
                  <img src="{% static 'main/assets/jquery_icon.png' %}" alt="jQuery Icon" class="tech-item-image">
                </div>
                <div class="tech-item">
                  <img src="{% static 'main/assets/axios_icon.png' %}" alt="Axios Icon" class="tech-item-image">
                </div>
              </div>

            </div>

            <div class="carousel-item">
              
              <h2>Python</h2>
              
              <div class="description-container">
                Proficient in Python for developing fast-paced products and creating effective prototypes. Experienced in leveraging the Django framework to enable comprehensive full-stack web development. Skilled in utilizing Python's capabilities to gain a competitive edge in developing machine learning models and AI solutions.
              </div>

              <div class="images-container">
                <div class="tech-item">
                  <img src="{% static 'main/assets/django_icon.png' %}" alt="Django Icon" class="tech-item-image">
                </div>
                <div class="tech-item">
                  <img src="{% static 'main/assets/tensorflow_icon.png' %}" alt="tensorflow Icon" class="tech-item-image">
                </div>
                <div class="tech-item">
                  <img src="{% static 'main/assets/sklearn_icon.png' %}" alt="sklearn Icon" class="tech-item-image">
                </div>
              </div>

            </div>

            <div class="carousel-item">
              
              <h2>PHP</h2>
              
              <div class="description-container">
                Proficient in using WordPress and PHP to create and manage visually stunning and efficient Content Management Systems (CMS). Possess extensive experience in developing and customizing plugins and themes to meet client specifications. Additionally, skilled in utilizing PHP within the CodeIgniter framework to implement robust and scalable systems, ensuring high performance and reliability.
              </div>

              <div class="images-container">
                <div class="tech-item">
                  <img src="{% static 'main/assets/wordpress_icon.png' %}" alt="WordPress Icon" class="tech-item-image">
                </div>
                <div class="tech-item">
                  <img src="{% static 'main/assets/codeigniter_icon.png' %}" alt="CodeIgniter Icon" class="tech-item-image">
                </div>
              </div>

            </div>

            <div class="carousel-item">
              
              <h2>HTML/CSS</h2>
              
              <div class="description-container">
                Proficient in using WordPress and PHP to create and manage visually stunning and efficient Content Management Systems (CMS). Possess extensive experience in developing and customizing plugins and themes to meet client specifications. Additionally, skilled in utilizing PHP within the CodeIgniter framework to implement robust and scalable systems, ensuring high performance and reliability.
              </div>

              <div class="images-container">
                <div class="tech-item">
                  <img src="{% static 'main/assets/html_icon.png' %}" alt="HTML Icon" class="tech-item-image">
                </div>
                <div class="tech-item">
                  <img src="{% static 'main/assets/css_icon.png' %}" alt="CSS Icon" class="tech-item-image">
                </div>
                <div class="tech-item">
                  <img src="{% static 'main/assets/sass_icon.png' %}" alt="Sass Icon" class="tech-item-image">
                </div>
                <div class="tech-item">
                  <img src="{% static 'main/assets/bootstrap_icon.png' %}" alt="Bootstrap Icon" class="tech-item-image">
                </div>
              </div>

            </div>
          </div>

          <div class="controls">
            <button class="control-left" onclick="prev()">&#10094;</button>
            <button class="control-right" onclick="next()">&#10095;</button>
          </div>

        </div>
      </section>

      <hr>

      <section id="experience">
        
        <h1>Professional Experience</h1>

        <div class="experience-item">
          
          <h2>Software Developer</h2>

          <div class="company-and-date-container">Katana Techworks | July 2022 - Present</div>
          
          <p>
            Team based collaboration to accomplish project objectives. Developed web applications that deals in areas such as OpenAI API Chatbot, CMS application, Web scraping, Database management, Full-Stack Integration and application Deployment.
          </p>
          
          <h3>Technology</h3>

          <div class="technology-content-container">
            <div class="tech-item">
              <img src="{% static 'main/assets/wordpress_icon.png' %}" alt="WordPress Icon" class="tech-item-image">
            </div>
            <div class="tech-item">
              <img src="{% static 'main/assets/vuejs_icon.jpg' %}" alt="VueJs Icon" class="tech-item-image">
            </div>
            <div class="tech-item">
              <img src="{% static 'main/assets/jquery_icon.png' %}" alt="jQuery Icon" class="tech-item-image">
            </div>
            <div class="tech-item">
              <img src="{% static 'main/assets/openai_icon.jpeg' %}" alt="OpenAi Icon" class="tech-item-image">
            </div>
            <div class="tech-item">
              <img src="{% static 'main/assets/codeigniter_icon.png' %}" alt="CodeIgniter Icon" class="tech-item-image">
            </div>
          </div>
        </div>
        <div class="experience-item">

          <h2>Software Developer</h2>
          
          <div class="company-and-date-container">Freelancing | January 2023 - Present</div>
          
          <p>
            Independent Software Development that deliver client/customer requirements in a complete and timely manner. Developed web applications that deals in areas such as Machine Learning Algorithms(Naive Bayes, Neural Networks, Convolutional Neural Networks), Chatbot integration, Django development and deployment.
          </p>

          <h3>Technology</h3>
          
          <div class="technology-content-container">
            <div class="tech-item">
              <img src="{% static 'main/assets/django_icon.png' %}" alt="Django Icon" class="tech-item-image">
            </div>
            <div class="tech-item">
              <img src="{% static 'main/assets/vuejs_icon.jpg' %}" alt="VueJs Icon" class="tech-item-image">
            </div>
            <div class="tech-item">
              <img src="{% static 'main/assets/jquery_icon.png' %}" alt="jQuery Icon" class="tech-item-image">
            </div>
            <div class="tech-item">
              <img src="{% static 'main/assets/tensorflow_icon.png' %}" alt="tensorflow Icon" class="tech-item-image">
            </div>
            <div class="tech-item">
              <img src="{% static 'main/assets/sklearn_icon.png' %}" alt="sklearn Icon" class="tech-item-image">
            </div>
          </div>
        </div>
        <div class="experience-item">

          <h2>Software Developer</h2>
          
          <div class="company-and-date-container">UEnquire | January 2022</div>
          
          <p>
            Led a team of aspiring student developers in the philippine Startup Pitching Competition of 2022. Competed up to the regional rounds. 
          </p>

          <h3>Technology</h3>
          
          <div class="technology-content-container">
            <div class="tech-item">
              <img src="{% static 'main/assets/django_icon.png' %}" alt="Django Icon" class="tech-item-image">
            </div>
            <div class="tech-item">
              <img src="{% static 'main/assets/jquery_icon.png' %}" alt="jQuery Icon" class="tech-item-image">
            </div>
            <div class="tech-item">
              <img src="{% static 'main/assets/tensorflow_icon.png' %}" alt="tensorflow Icon" class="tech-item-image">
            </div>
            <div class="tech-item">
              <img src="{% static 'main/assets/sklearn_icon.png' %}" alt="sklearn Icon" class="tech-item-image">
            </div>
          </div>
        </div>
        <div class="experience-item">

          <h2>Software Developer Intern</h2>
          
          <div class="company-and-date-container">Develepment And Analytics IT Solutions | 2021</div>
          
          <p>
            A two-person internship with the task of developing a Courier Service web application using Django.
          </p>

          <h3>Technology</h3>
          
          <div class="technology-content-container">
            <div class="tech-item">
              <img src="{% static 'main/assets/django_icon.png' %}" alt="Django Icon" class="tech-item-image">
            </div>
            <div class="tech-item">
              <img src="{% static 'main/assets/jquery_icon.png' %}" alt="jQuery Icon" class="tech-item-image">
            </div>
          </div>
        </div>
      </section>

      <!-- <hr>

      <section id="portfolio">
          <h1>Portfolio</h1>
          <div class="portfolio-item">
              <img src="path/to/project-image.jpg" alt="Project Image">
              <h3>Project Title</h3>
              <p>Brief description of the project, technologies used, and your role.</p>
          </div>
      </section>

      <section id="testimonials">
          <h1>Testimonials</h1>
          <div class="testimonial-item">
              <p>"Eugene is an outstanding developer with a keen eye for detail. His work on our project was exceptional." - Client Name</p>
          </div>
        
      </section> -->

      <section id="education">
          <h1>Education</h1>
          <div class="education-item">
            
            <div class="university-logo-container">
              <img src="{% static 'main/assets/ue_icon.png' %}" alt="UE Icon" class="university-logo-image">
            </div>
            
            <h3>Bachelor's Degree in Computer Science</h3>
            <p>University of the East | 2018 - 2022</p>
            <p>Having graduated with a wealth of knowledge, I solidified the foundation necessary to achieve my current technical skills and mindset. This solid grounding has been instrumental in developing my professional abilities and driving my success.</p>
            
          </div>
      </section>
  </main>

  <footer>
    <section id="contact">
      <h1>Contact Me!</h1>

      <div class="contact-me-description">If you have any questions, suggestions, or feedback, please feel free to reach out to me using the form below. I look forward to hearing from you!</div>

      <form id="contact-form">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" required>
  
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
  
        <label for="message">Message</label>
        <textarea id="message" name="message" rows="4" required></textarea>
  
        <button type="submit">Send</button>
      </form>
  
      <div class="social-media">
        <a href="{{ social_media_links.fb_link }}" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="{{ social_media_links.ig_link }}" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="{{ social_media_links.linkedin_link }}" class="social-icon"><i class="fab fa-linkedin-in"></i></a>
        <a href="{{ social_media_links.github_link }}" class="social-icon"><i class="fab fa-github"></i></a>
      </div>
    </section>
  </footer>

  <script>
    //Container animations when page is loaded.
    $(document).ready(function(){

      $(".profile-image-container").fadeIn(2000);
      $("#name-content").animate({
        left: "90%",
        marginLeft: "10px"
      }, 500);
      $("#dl-resume-container").animate({
        left: "25%",
      }, 500);

      if($(window).width() < 1024){
        $(".download-resume-container.mobile").fadeIn(1000);
      }
      $("#fb_link").fadeIn(1500);
      $("#ig_link").fadeIn(2000);
      $("#linkedin_link").fadeIn(2500);
      $("#github_link").fadeIn(3000);
    });


    // Smooth animation transition when the user clicked on a section
    document.querySelectorAll('.navigation-below-header a').forEach(anchor => {
      anchor.addEventListener('click', function (e) {
        e.preventDefault();
        const targetId = this.getAttribute('href').substring(1);
        const targetElement = document.getElementById(targetId);
        targetElement.scrollIntoView({ behavior: 'smooth' });
      });
    });


    // Section Skills Carousel transition
    let currentIndex = 0;

    function showSlide(index) {
      const carousel = document.querySelector('.carousel');
      const totalItems = document.querySelectorAll('.carousel-item').length;

      if (index >= totalItems) {
        currentIndex = 0;
      } else if (index < 0) {
        currentIndex = totalItems - 1;
      } else {
        currentIndex = index;
      }

      const offset = -currentIndex * 100;
      carousel.style.transform = `translateX(${offset}%)`;
    }

    function next() {
      showSlide(currentIndex + 1);
    }

    function prev() {
      showSlide(currentIndex - 1);
    }

    setInterval(next, 6000);
   
  </script>
{% endblock %}